# -----------------------
# Frontend (Vite/React)
# -----------------------
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# -----------------------
# Backend (Go)
# -----------------------
backend/bin/
backend/*.exe
backend/*.out
backend/.env
